
<h1>Welcome to Games Info<h1>
<img src="/Images/gamingbackground.jpg" class="img-fluid" alt="F" width="1200">

<div class="card" style="width: 18rem;"  >
  <div class="card-body">
    <h5 class="card-title">Message to new users</h5>
    <h6 class="card-subtitle mb-2 text-muted">Owner of Games Info</h6>
    
    <p class="card-text">Hi there! and welcome to the Games Info website here we store information on some of your favourite games.</p>
    <p class="card-text">Make sure to check out content page!</p>
  </div>
</div>